<h2 style="margin-top: 15px; margin-left: 10px;">Detalle de Orden</h2>
<span></span>
<br>

<mat-dialog-content>
    <div class="modal-container" >
        <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <input type="hidden" name="idServicio" formControlName="idServicio"  />
            <mat-form-field class="full-width">
                <mat-label>Servicio</mat-label>
                    <mat-select formControlName="servicio"   (selectionChange)="selected($event)">
                        <mat-option *ngFor="let serv of services" [value]="serv.id">
                            {{serv.descripcion}} - {{serv.costo}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Estado</mat-label>
                <mat-select  [compareWith]="compareFn" formControlName="estado" [value]="selectedEstado" >
                    <mat-option value="RE">Recibido</mat-option>
                    <mat-option value="EP">En proceso</mat-option>
                    <mat-option value="C">Completo</mat-option>
                    <mat-option value="E">Entegado</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Comentario</mat-label>
                <textarea matInput type="test" formControlName="comentario" maxlength="60"></textarea>
            </mat-form-field>

            <mat-form-field class="full-width" >
                <mat-label>Fecha Entrega</mat-label>
                <input matInput  [matDatepicker]="pickerdf" formControlName="fechaEntrega" >
                <mat-datepicker-toggle matSuffix [for]="pickerdf"></mat-datepicker-toggle>
                <mat-datepicker #pickerdf></mat-datepicker>
            </mat-form-field>
        <!--
            <mat-form-field style="width: 40%;">
                <input matInput [matTimepicker]="minutesPicker">
                <mat-timepicker-toggle matIconSuffix [for]="minutesPicker"/>
                <mat-timepicker interval="45min" #minutesPicker/>
              </mat-form-field>

 -->
            <mat-form-field [style.display]="!isShoesSelected && !isPlanchadoSelected ? 'block' : 'none'" class="full-width">
                <mat-label>Libras</mat-label>
                <input matInput type="number" formControlName="libras" [(ngModel)]="libras" required (change)="updateValue($event)" />
            </mat-form-field>

            <mat-form-field [style.display]="isShoesSelected && !isPlanchadoSelected ? 'block' : 'none'" class="full-width">
                <mat-label>Pares de zapatos</mat-label>
                <input matInput type="number" formControlName="parZapatos" [(ngModel)]="libras" required (change)="updateValue($event)" />
            </mat-form-field>

            <mat-form-field [style.display]="isPlanchadoSelected && !isShoesSelected ? 'block' : 'none'">
              <mat-label>Prendas</mat-label>
              <input matInput type="number" formControlName="prendas" [(ngModel)]="prendas" required (change)="updateValue($event)" />
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Valor</mat-label>
                <input matInput type="number" formControlName="valor"  readonly="true" required />
            </mat-form-field>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <!-- <button mat-button (click)="onNoClick()">Cerrar</button> -->
     <button mat-button mat-dialog-close>Cancel</button>
    <!-- <button type="submit"><i class="fa fa-database" ></i> Submit</button> -->
    <button mat-raised-button  (click)="prueba(form)">Agregar</button>
  </mat-dialog-actions>
