
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

    
.full-width {
    grid-column: span 2;
    margin-left: 10px;
    margin-right: 10px;
  }

  .button-container {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }